<div class="allaudio">
  <svg style="width:100px;height:100px;margin-left:46%" viewBox="0 0 24 24">
     <path fill="white" d="M13,9H18.5L13,3.5V9M6,2H14L20,8V20A2,2 0 0,1 18,22H6C4.89,22 4,21.1 4,20V4C4,2.89 4.89,2 6,2M9,16A2,2 0 0,0 7,18A2,2 0 0,0 9,20A2,2 0 0,0 11,18V13H14V11H10V16.27C9.71,16.1 9.36,16 9,16Z" />
 </svg>
  <h1 style="text-align:center; color:white">Audio</h1>
    <div class="container">
      <div class="row">
        <div class="col-6">
          <div class="container box">
            <%= form_tag send_audio_index_path, method: :post, multipart: true do %>
            <h2>Envia un audio a los usuarios</h2>
                <div class="form-group">
                  <label for="exampleInputEmail1">Elige tu foto</label>
                  <%= file_field_tag :audio %>
                  <small id="emailHelp" class="form-text text-muted">Se enviará al canal</small>
                </div>
                <%= submit_tag "Enviar", class: 'btn btn-primary' %>
            <% end %>
          </div>
        </div>
        <div class="col-6">
            <%=render 'send_audio_to_user/index'%>
        </div>
      </div>
    </div>
</div>
