<div class="container box">


  <%= form_tag send_document_to_user_index_path, method: :post, multipart: true do %>
    <h2>Envia un documento a los usuarios</h2>
      <div class="form-group">
        <label for="exampleInputEmail1">Elige tu foto</label>
        <%= file_field_tag :document %>
      </div>
      <div class="form-group">
        <%= collection_select(:telegram_user,:telegram_id,TeleNotify::TelegramUser.all,:id,:first_name,{}, {:multiple => true, :class => "form-control", :id =>"exampleSelect2"}) %>
        <small id="emailHelp" class="form-text text-muted">Se enviara al usuario elegido</small>
      </div>
      <%= submit_tag "Enviar", class: 'btn btn-primary' %>
  <% end %>



</div>
