<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="container box">
        <%= form_tag sender_index_path, method: :post, :html=>{:multipart => true} do %>
        <h2>Escribe tu mensaje al canal</h2>
          <div class="form-group">


            <%= file_field_tag :photo %>
            <small id="emailHelp" class="form-text text-muted">Se enviará al canal</small>
          </div>
            <%= submit_tag "Enviar", class: 'btn btn-primary' %>
        <% end %>


      </div>
    </div>
