<div class="allimage">
  <svg style="width:100px;height:100px;margin-left:46%" viewBox="0 0 24 24">
     <path fill="white" d="M13,9H18.5L13,3.5V9M6,2H14L20,8V20A2,2 0 0,1 18,22H6C4.89,22 4,21.1 4,20V4C4,2.89 4.89,2 6,2M6,20H15L18,20V12L14,16L12,14L6,20M8,9A2,2 0 0,0 6,11A2,2 0 0,0 8,13A2,2 0 0,0 10,11A2,2 0 0,0 8,9Z" />
 </svg>
  <h1 style="text-align:center; color:white">Imagen</h1>
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="container box">
          <%= form_tag send_image_index_path, method: :post, multipart: true do %>
          <h2>Envia un imagen a los usuarios</h2>
              <div class="form-group">
                <label for="exampleInputEmail1">Elige tu foto</label>
                <%= file_field_tag :photo %>
                <small id="emailHelp" class="form-text text-muted">Se enviará al canal</small>
              </div>
              <%= submit_tag "Enviar", class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
      <div class="col-6">
          <%=render 'send_image_to_user/index'%>
      </div>
    </div>
  </div>
</div>
