
<div class="alleventuser">

  <div class="container box">
    <h1>Nuevo usuario a evento</h1>

    <%= render 'form', event_to_user: @event_to_user %>

    <%= link_to 'Back', event_to_users_path %>
  </div>
</div>
