// Place all the styles related to the SendVideo controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.allvideo{
  height: 1200px;
  background-color: #602320;
  margin-top: -200px;
  padding-top: 200px;

}
