// Place all the styles related to the send_image controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tabla{
  max-height: 300px;
  overflow: auto;
}

.allimage{
  height: 1200px;
  background-color: #e0301e;
  margin-top: -200px;
  padding-top: 200px;

}
