// Place all the styles related to the SendAudio controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.allaudio{
  height: 1200px;
  background-color: #968c6d;
  margin-top: -200px;
  padding-top: 200px;

}
