// Place all the styles related to the SendDocument controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.alldocument{
  height: 1200px;
  background-color: #ffb600;
  margin-top: -200px;
  padding-top: 200px;

}
