
<div class="container box">
  <%= form_tag send_document_index_path, method: :post, multipart: true do %>
  <h2>Envia un documento a los usuarios</h2>
      <div class="form-group">
        <label for="exampleInputEmail1">Elige tu foto</label>
        <%= file_field_tag :document %>
        <small id="emailHelp" class="form-text text-muted">Se enviará al canal</small>
      </div>
      <%= submit_tag "Enviar", class: 'btn btn-primary' %>
  <% end %>
</div>
